@import url("https://db.onlinewebfonts.com/c/4b5ae315f5df148f0ab479a7cedc9832?family=ISOCPEUR");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "ISOCPEUR", sans-serif;
}

.navtext{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
}
html, body {
  scroll-behavior: smooth;
}